{{> header}}
<blockquote class="blockquote">
    {{citation.Citation}}
    <span>{{citation.author}}</span>
</blockquote>

<div class="related-quotes">
    {{#if citation_prev}}
    <blockquote class="blockquote">
        <a href="{{relatedPagePath citation_prev.Index}}">{{citation_prev.Citation.Citation}}</a>
    </blockquote>
    {{/if}}
    {{#if citation_next}}
    <blockquote class="blockquote">
        <a href="{{relatedPagePath citation_next.Index}}">{{citation_next.Citation.Citation}}</a>
    </blockquote>
    {{/if}}
</div>


{{> footer}}