{{> header}}
<ul>
  {{{pagination page pages}}}
  {{#each citations}}
  <li>
    <blockquote class="blockquote">
    <a href="{{pagePath page @index}}">{{Citation}}</a>
    <span>{{Author}}</span>
  </blockquote>
  </li>
  {{/each}}
  {{{pagination page pages}}}
</ul>
{{> footer}}